
/*--------My STYLES-----------------------------------------------------------------------------------------*/
#main .field-label{
  color: #bbb;
}
#site-name-wrap {
  display: block;
  margin: 0 3%;
  padding: 2.5em 0;   
}
.views-field-created{
  font-size: 0.8em;
}
.views-field-field-image{
  float: left;
  margin-right: 10px;
}
.views-row{
  margin-bottom: 30px;
}
#block-block-1{
  display: none;
}
.field-name-field-tags{
  margin-top: 20px;
}
.field-name-field-subjects{
  margin-bottom: 40px;
}
.beacon9-social{
  margin: 20px 0;
}
.beacon9-social .beacon9-social-title{
  margin-right: 10px;
}
.beacon9-social .beacon9-social-title, .beacon9-social .beacon9-social-item{
  display: inline-block;
  max-width: 185px;
}
.player{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; 
  height: 0; 
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.beacon9-social-google div, .beacon9-social-google div iframe{
  width: 100% !important;
}
#first-time{
  display: none;
}
.form-item-search-block-form input {
  width: 16em;
}
.table-container{
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
@media screen and (min-width: 960px){
    .table-container {
      overflow: visible;
    }
}
@media screen and (max-width: 479px) {
  #header .social-profile {
      top: 6em !important;
  }
}
@media screen and (max-width: 319px) {
  #site-name-wrap {
      height: 5em;
  }
  #header .social-profile {
      top: 7em !important;
  }  
}
/*-----------------------------------------------------------------------------------------------------------------*/


