body{
	background-color: #DFF0ED;
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size: 12px;
}

table{
	border: 1px solid;
	border-collapse:collapse;
}

table caption{
	border: 1px solid;
	background-color: #86DBCD;
	font-weight: bold;
	font-size: 140%;
	padding: 10px 0px;
}

table th,td{
	border: 1px solid;
	padding: 3px 8px;
}

table th{
	background-color: #86DBCD;
}

input[type="text"]{
	width: 300px;
}

textarea{
	width: 600px;
	height:200px;
}

legend{
	font-weight: bold;
	font-size:120%;
}

#ingreso label{
	float: left;
	width:100px;
}

.menu{
	padding: 10px 0px;
}

#ingreso {
	width: 250px;
	margin: auto;
	margin-top: 10%;
}

#ingreso input[type="text"]{
	width: 150px;
}